

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: Calibri, Helvettica, sans-serif;
  padding-left: 1rem;
  padding-right: 2rem;
}

main {
  padding-top: 1rem;
}

.form-container {
  display: grid;
  width: 100%;
  margin: 0;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  padding: 1rem;
  border-top: solid 2rem #bf2e1a;
}

/*****************************************************************/
/***************** Styling elements for images ****/
/*****************************************************************/

.box-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

figure{
  margin: 0;
  padding: 0.5rem;
}

figcaption {
  font-size: 1vw;
  font-weight: bold;
}

.box-1 img {
  width: 90%;
}

/***********************************************************************/
/***************** Styling elements for text ***************************/
/***********************************************************************/

.box-2 {
  grid-column: 2;
  width: 90%;
  justify-self: start;
}

.box-2 p,
.box-2 ul li {
  font-size: 1vw;
  text-align: justify;
}

.box-2 ul li {
  padding-bottom: 0.3rem;
}

.box-2 a:link,
.box-2 a:active,
.box-2 a:hover,
.box-2 a:visited {
  text-decoration: none;
  color: blue
}

/**********************************************************************/
/************************* Syling elements for forms ******************/
/**********************************************************************/

#myForm {
  padding-left: 1.5rem;
}

form label,
form button,
form input {
  display: block;
  margin-bottom: 1rem;
}

form button {
  background-color: #bf2e1a;
  border-style: none;
  color: white;
  font-weight: bold;
}

form input {
  width: 75%;
}

form input[type=text],
form input[type=email] {
  font-size: 1.25rem;
}

form button[type=submit] {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

/**************************************************************************** 
*  Styling elements that will apply to the footer *
****************************************************************************/

footer {
  background-color: black;
  width: 100%;
  display: block;
}

footer p {
  line-height: 2rem;
  margin: 0rem;
  font-size: 1vw;
  color: white;
  text-align: center;
}

footer a:link,
footer a:active,
footer a:hover,
footer a:visited {
  text-decoration: underline;
  color: white;
}

