

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: Calibri, Helvettica, sans-serif;
  padding-top: 1rem;
  max-width: 1600px;
}

header {
  margin: 0rem;
  padding-top: 1 rem;
  border-top: solid 2rem #bf2e1a;
  text-align: center;
  font-size: 1.5rem;
  color: #720303;
  font-weight: bold;
}

main {
  display: grid;
  width: 100%;
  margin: 0;
  grid-template-columns: 0.3fr 0.8fr;
  column-gap: 1.5rem;
}

/*****************************************************************/
/***************** Styling elements for images ****/
/*****************************************************************/

.box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figure{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding-bottom: 0.5rem;
}

figcaption {
  font-size: 0.8rem;
  font-weight: bold;
  align-self: flex-end;
}

.box-1 img {
  width: 70%;
  align-self: flex-end;
} 

/***********************************************************************/
/***************** Styling elements for text ***************************/
/***********************************************************************/

.box-2 {
  grid-column: 2;
  width: 90%;
  justify-self: start;
}

.box-2 p,
.box-2 ul li {
  font-size: 1.1rem;
  text-align: justify;
}

.box-2 ul li {
  padding-bottom: 0.3rem;
}

.box-2 a:link,
.box-2 a:active,
.box-2 a:hover,
.box-2 a:visited {
  text-decoration: none;
  color: blue
}

/**********************************************************************/
/************************* Syling elements for form ******************/
/**********************************************************************/

#myForm {
  padding-left: 1.5rem;
}

form label,
form button,
form input {
  display: block;
  margin-bottom: 1rem;
}

form button {
  background-color: #bf2e1a;
  border-style: none;
  color: white;
  font-weight: bold;
}

.checkboxAlign{
  display: inline-flex;
  padding: 0;
  margin: 0;
  width: 75%;
  padding-bottom: 1rem;
}

#consent{
  width: 5%;
  margin: 0;
}

form input {
  width: 75%;
}

form input[type=text],
form input[type=email] {
  font-size: 1.25rem;
}

form button[type=submit] {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

/**************************************************************************** 
*  Styling elements that will apply to the footer *
****************************************************************************/

footer {
  background-color: black;
  width: 100%;
  display: block;
  margin-bottom: 2rem;
}

footer p {
  line-height: 2rem;
  margin: 0rem;
  font-size: 1rem;
  color: white;
  text-align: center;
}

footer a:link,
footer a:active,
footer a:hover,
footer a:visited {
  text-decoration: underline;
  color: white;
}

